<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="Test with chrome browser">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.datadrivenframework.TestDataDriven">
                <methods>
                    <include name="loginTo_Application_WithValid_Credentials"/>
                </methods>
            </class>
        </classes>
    </test>
<!--    <test verbose="2" name="Test with firefox browser">-->
<!--        <parameter name="browserName" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="com.datadrivenframework.TestDataDriven">-->
<!--                <methods>-->
<!--                    <include name="loginTo_Application_WithValid_Credentials"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>